html{
    background-color: #15185B;
}

body{

    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-width: 55px;
    border-left-width: 55px;
    border-right-width: 55px;
    border-bottom-color: #21D8FF;
    border-left-color: #21D8FF;
    border-right-color: #21D8FF;
}


p{
    margin: 35px auto;
    width: 65%;
}


#full_page{
    margin:50px;
    background-color: #15185B;
}
input{
    width : 200px;
    height: 30px;
}
#signup_box{
    margin-top:10px;
    margin-bottom: 10px;
    width: 125px;
    height: 75px;
    border-radius: 30px;
    background-color:#E0892F;
}
